<ng-container *ngFor="let dynamicFieldConfig of dynamicFormConfig;">
  <ng-container *ngIf="dynamicFieldConfig.type !== 'group'" appDynamicField [fieldConfig]="dynamicFieldConfig"
    [formGroup]="formGroup">
  </ng-container>

  <ng-container *ngIf="dynamicFieldConfig.type === 'group'">
    <app-dynamic-form-group [dynamicFormConfig]="dynamicFieldConfig.fields"
      [formGroup]="formGroup.get(dynamicFieldConfig.name)"></app-dynamic-form-group>

    <div *ngFor="let validation of dynamicFieldConfig.validations">
      <div *ngIf="formGroup.get(dynamicFieldConfig.name).hasError(validation.name) &&
                  formGroup.touched" class="errorMessage">{{ validation.message }}</div>
    </div>
  </ng-container>

</ng-container>
